/* styles/Home.module.css */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Public Sans", sans-serif;
  color: #686f83;
  min-height: 770px;
  background-color: #ffffff;
  border-radius: 8px;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f7;
}

.content {
  padding: 24px;
  flex: 1;
}
